@import './tailwind.css';
@import './theme.css';
@import '@xyflow/react/dist/style.css';

.hide-scrollbar::-webkit-scrollbar {
  display: none;
}
.hide-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}
html {
  scroll-behavior: smooth;
  scroll-padding-top: 64px;
}